<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>departmentType</key>
		<string>内科</string>
		<key>departments</key>
		<array>
			<string>心血管内科</string>
			<string>呼吸内科</string>
			<string>消化内科</string>
			<string>血液内科</string>
			<string>免疫内科</string>
			<string>内分泌科</string>
			<string>肾内科</string>
			<string>感染内科</string>
			<string>肿瘤科</string>
			<string>神经内科</string>
			<string>普通内科</string>
			<string>内科ICU</string>
			<string>心理学科</string>
		</array>
	</dict>
	<dict>
		<key>departmentType</key>
		<string>外科</string>
		<key>departments</key>
		<array>
			<string>普通外科</string>
			<string>心胸外科</string>
			<string>心脏外科</string>
			<string>泌尿外科</string>
			<string>骨科</string>
			<string>神经外科</string>
			<string>血管外科</string>
			<string>乳腺疾病科</string>
			<string>外科ICU</string>
			<string>CCU</string>
			<string>麻醉科</string>
			<string>肝胆外科</string>
			<string>烧伤整形科</string>
			<string>介入</string>
			<string>手术室</string>
		</array>
	</dict>
	<dict>
		<key>departmentType</key>
		<string>妇儿科</string>
		<key>departments</key>
		<array>
			<string>妇科</string>
			<string>产科</string>
			<string>儿科</string>
		</array>
	</dict>
	<dict>
		<key>departmentType</key>
		<string>五官科</string>
		<key>departments</key>
		<array>
			<string>耳鼻喉科</string>
			<string>口腔科</string>
			<string>皮肤科</string>
			<string>眼科</string>
		</array>
	</dict>
	<dict>
		<key>departmentType</key>
		<string>中医科</string>
		<key>departments</key>
		<array>
			<string>中医科</string>
		</array>
	</dict>
	<dict>
		<key>departmentType</key>
		<string>医技科室</string>
		<key>departments</key>
		<array>
			<string>检验科</string>
			<string>放射科</string>
			<string>核医学科</string>
			<string>理疗科</string>
			<string>放疗科</string>
			<string>病理科</string>
			<string>超声诊断科</string>
			<string>输血科</string>
		</array>
	</dict>
</array>
</plist>
