<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>departmentType</key>
		<string>內科</string>
		<key>departments</key>
		<array>
			<string>心血管內科</string>
			<string>呼吸內科</string>
			<string>消化內科</string>
			<string>血液內科</string>
			<string>免疫內科</string>
			<string>內分泌科</string>
			<string>腎內科</string>
			<string>感染內科</string>
			<string>腫瘤科</string>
			<string>神經內科</string>
			<string>普通內科</string>
			<string>内科ICU</string>
			<string>心理學科</string>
		</array>
	</dict>
	<dict>
		<key>departmentType</key>
		<string>外科</string>
		<key>departments</key>
		<array>
			<string>普通外科</string>
			<string>心胸外科</string>
			<string>心臟外科</string>
			<string>泌尿外科</string>
			<string>骨科</string>
			<string>神經外科</string>
			<string>血管外科</string>
			<string>乳腺疾病科</string>
			<string>外科ICU</string>
			<string>CCU</string>
			<string>麻醉科</string>
			<string>肝膽外科</string>
			<string>燒傷整形科</string>
			<string>介入</string>
			<string>手術室</string>
		</array>
	</dict>
	<dict>
		<key>departmentType</key>
		<string>婦兒科</string>
		<key>departments</key>
		<array>
			<string>婦科</string>
			<string>產科</string>
			<string>兒科</string>
		</array>
	</dict>
	<dict>
		<key>departmentType</key>
		<string>五官科</string>
		<key>departments</key>
		<array>
			<string>耳鼻喉科</string>
			<string>口腔科</string>
			<string>皮膚科</string>
			<string>眼科</string>
		</array>
	</dict>
	<dict>
		<key>departmentType</key>
		<string>中医科</string>
		<key>departments</key>
		<array>
			<string>中医科</string>
		</array>
	</dict>
	<dict>
		<key>departmentType</key>
		<string>醫技科室</string>
		<key>departments</key>
		<array>
			<string>檢驗科</string>
			<string>放射科</string>
			<string>核醫學科</string>
			<string>理療科</string>
			<string>放療科</string>
			<string>病理科</string>
			<string>超聲診斷科</string>
			<string>輸血科</string>
		</array>
	</dict>
</array>
</plist>
